.profile-card{

  display: grid;
  height: 400px;
  width:120%;
  justify-content: center;
  align-items: center;


}
form{
  width:100%;
  align-items: center;
  display:grid;
  justify-content: center;
  margin-top: 20px;
}

.form-group{
  display: grid;
  align-items: center;
  margin-bottom: 20px;
}

mat-card{
  align-items: center;
  align-content: center;
  dispay: fex;
}

button{
  color: hotpink;
  align-self: center;
}

