<!--TODO: add a tooltip that will show the username that created the playlistCard. Hint: https://stackblitz.com/angular/ygnjpyayagb?file=src%2Fapp%2Ftooltip-message-example.ts-->

<mat-card [matTooltip] = [playlist.createdBy.username] class="playlist-card" >

  <div class="title">{{playlist.title}}</div>
  <div class="songCount">Songs: {{playlist.length}}</div>
  <div class="song">
    <div class="songTitle">{{playlist.songs[0].title}}</div>
    <div class="songArtist">{{playlist.songs[0].artist}}</div>
   </div>
  <div class="song" *ngIf="playlist.length > 1">
    <div class="songTitle" >{{playlist.songs[1].title}}</div>
    <div class="songArtist">{{playlist.songs[1].artist}}</div>
  </div>
  <div class="song" *ngIf="playlist.length > 2">
    <div class="songTitle">{{playlist.songs[2].title}}</div>
    <div class="songArtist">{{playlist.songs[2].artist}}</div>
  </div>
  <div class="extra">. . .</div>

</mat-card>
