<!--TODO: add a tooltip that will show the username that created the playlistCard. Hint: https://stackblitz.com/angular/ygnjpyayagb?file=src%2Fapp%2Ftooltip-message-example.ts-->

<mat-card [matTooltip] = [playlist.createdBy.username] class="playlist-card" >

  <div class="title">{{playlist.title}}</div>
  <div class="date">{{playlist.createDate}}</div>
  <div class="songCount">Songs: {{playlist.length}}</div>
  <div class="song">
    <div class="songTitle">{{playlist.songs[0].title}}</div>
    <div class="songArtist">{{playlist.songs[0].artist}}</div>
   </div>
  <div class="song" *ngIf="playlist.length > 1">
    <div class="songTitle" >{{playlist.songs[1].title}}</div>
    <div class="songArtist">{{playlist.songs[1].artist}}</div>
  </div>
  <div class="song" *ngIf="playlist.length > 2">
    <div class="songTitle">{{playlist.songs[2].title}}</div>
    <div class="songArtist">{{playlist.songs[2].artist}}</div>
  </div>
  <div class="extra">. . .</div>


<!--  <div class="date" >{{parecord.createdDate | date}}</div>-->

<!--  <mat-icon class="type">{{activity}}</mat-icon>-->

<!--  <div class="titlecal">{{parecord.calories}} Cal</div>-->
<!--  <div class="titletime">{{parecord.minutes}} Min</div>-->

<!--  <section class="calories">-->
<!--    <mat-progress-bar-->
<!--      class="example-margin"-->
<!--      [color]="color"-->
<!--      [mode]="mode"-->
<!--      [value]=[calprogressvalue]-->
<!--      [bufferValue]="bufferValue">-->
<!--    </mat-progress-bar>-->
<!--  </section>-->

<!--  <section class="time">-->
<!--    <mat-progress-bar-->
<!--      class="example-margin"-->
<!--      [color]="color"-->
<!--      [mode]="mode"-->
<!--      [value]=[minprogressvalue]-->
<!--      [bufferValue]="bufferValue">-->
<!--    </mat-progress-bar>-->
<!--  </section>-->

<!--  <div class="caloriesgoal">{{calprogressvalue}}%</div>-->
<!--  <div class="timegoal">{{minprogressvalue}}%</div>-->

<!--<div class="menu">-->
<!--  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Delete or edit">-->
<!--    <mat-icon>more_vert</mat-icon>-->
<!--  </button>-->
<!--  <mat-menu #menu="matMenu">-->
<!--    <button mat-menu-item (click)="notImplemented('Edit activity')">-->
<!--      <mat-icon>edit</mat-icon>-->
<!--      <span>Edit</span>-->
<!--    </button>-->
<!--       <button mat-menu-item (click)="delete(parecord.createdDate)">-->
<!--      <mat-icon>delete</mat-icon>-->
<!--      <span>Delete</span>-->
<!--    </button>-->
<!--  </mat-menu>-->
<!--  </div>-->


</mat-card>
