.date {
  grid-area: date;
}
.menu{

  grid-area: menu;
  justify-self: end;
  align-self: start;
}

.type{

  grid-area: type;
  height:48px !important;
  width:48px !important;
  font-size:48px !important;}

.titlecal {
  grid-area: titlecal;
}
.titletime {
  grid-area: titletime;
}
.calories {
  grid-area: calories;
}
.time {
  grid-area: time;
}
.caloriesgoal{
  grid-area: caloriesgoal;
  align-self: end;
}
.timegoal {
  grid-area: timegoal;
  align-self: end;
}

/*.playlist-card {*/
/*  display: grid;*/
/*  grid-template-columns: 300px;*/
/*  grid-template-rows: 20px;*/
/*  grid-template-areas:*/
/*    "title"*/
/*    "songcount"*/
/*    "song"*/
/*    "song"*/
/*    "song";*/
/*}*/


/*.title{*/
/*  grid-area: title;*/
/*}*/

/*.songCount{*/
/*  grid-area: songcount;*/
/*}*/

.song{
  grid-area: song;
  display: grid;
  grid-template-columns: 200px 100px;
  grid-template-areas: "songtitle . songartist";

}

.songTitle{
  grid-area: songtitle;
}
.songArtist{
  grid-area: songartist;
}


