.course-list-container{
  display: flex;
  flex-flow: row wrap;

  border-radius: 2px;
  padding: 10px 10px 30px;
  margin: 10px 10px 10px 10px;
  background-color: #ffffff;

}


.pa-record-container{
  display: flex;
  flex-wrap: wrap;
  float:left
  /*hint: https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Flexible_Box_Layout/Mastering_Wrapping_of_Flex_Items#Making_things_wrap*/
}
/*.pa-record-container>* {*/
/*  flex: 1 1 400px;*/
/*}*/


.card-item{
  flex: 1;
  padding: 3px 3px 3px 3px;
  width:300px;

}

.fab-container {
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 100;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}

.convert{
  margin: 10% 40% 0 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  display: grid;
  grid-template-columns: 100%
}
.convert textarea{
  width: 100%;
}
.convert button{
  background-color: #1d2130;
  color: #ffe699;
  width: 100%;
}
