<!--TODO: create a 'profile' component that will duplicate the functionality shown on the video (also shown during the last lecture before Spring break)-->
<div class="login-card">
  <mat-card >
    <mat-card-header>

      <mat-card-title>Goals</mat-card-title>

    </mat-card-header>

    <mat-card-content>
      <input type="range" min = "1000" max = "3000" (input)="updateCal($event.target.value)" [value]=[goals.caloriegoal] id = "cal_slider" class = "slider"/>
      <input type="range" min = "30" max = "360" (input) = "updateMin($event.target.value)" [value]=[goals.minutegoal] id = "min_slider" class = "slider"/>

<!--      <input type="range" name="rangeInput" min="0" max="100" onchange="updateTextInput(this.value);">-->
<!--      <input type="text" id="textInput" value="">-->








    </mat-card-content>

  </mat-card>

  <mat-card >

    <mat-card-content>
      <div class = "numbox">
        <p> Calories </p>
        <input type="number" min="1" max="999" [value] = [goals.caloriegoal] />
      </div>
      <div class = "numbox">
        <p> Minutes </p>
        <input type="number" min="1" max="999" [value]= [goals.minutegoal] />

      </div>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button  (click)="updateGoals()">Save</button>

    </mat-card-actions>
  </mat-card>

</div>


