<mat-card class="parecord-card">

  <mat-card-content>
    <div class = "first_row">
      <div class = "date">
        <p>{{record.createdDate | date }} </p>
      </div>
      <mat-icon class="type">directions_{{types[record.activityType]}}</mat-icon>
      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="menu for edit delete" class = "menu">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click) = edit()>
          <mat-icon>edit</mat-icon>
          <span>Edit</span>
        </button>
        <button mat-menu-item (click) = delete()>
          <mat-icon>delete</mat-icon>
          <span>Delete</span>
        </button>
      </mat-menu>
    </div>
    <div class = "second_row">
      <div class = "cal">
        <p>{{record.calories}} Cal</p>
        <mat-progress-bar mode="determinate" [value]="record.calories / record.caloriegoal *100"></mat-progress-bar>
        <p>{{(record.calories*100 / record.caloriegoal) - ((record.calories*100%record.caloriegoal)/record.caloriegoal)}}%</p>
      </div>
      <div class = "time">
        <p>{{record.minutes}} Min</p>
        <mat-progress-bar mode="determinate" [value]="record.minutes / record.minutegoal*100"></mat-progress-bar>
        <p>{{(record.minutes*100 / record.minutegoal) - ((record.minutes*100%record.minutegoal)/record.minutegoal)}}%</p>
      </div>

    </div>
  </mat-card-content>


</mat-card>
