<mat-toolbar >

  <div routerLink="/" id = "home" ><img src = "assets/img/Musiq%20full.png" width = "100" alt = "Musiq"></div>

  <div id = "button-container">

    <div *ngIf="isUser; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock><button mat-button (click)="logout()" class = "login-out">Logout </button></ng-template>
    <ng-template #elseBlock><button mat-button routerLink="/login" class = "login-out">Login</button></ng-template>

    <button mat-button routerLink="/playlist" *ngIf="isUser">Playlist</button>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
